[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE HTML>

<!--[if IE 7 ]>    <html class="ie ie7 oldie basic"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie basic"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 basic"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% IF page_title %][% page_title | html_entity %] - [% END %]Groningen Seaports</title>

    [% PROCESS form/common_form_header_includes.tt %]

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />

    <link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/groningenseaports/img/favicon.png" rel="shortcut icon" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
    
</head>
<body data-ng-app="Zaaksysteem">

	<div id="container">
	
		<header role="banner">
		  
			<div id="logo">
			    <a href="http://www.groningen-seaports.com">
			    </a>
			</div>
		
		</header>
				
		<div id="main" class="clearfix" role="main">