<!-- Date limitations widget -->
<div class="date-limitation">
    [%
        terms = {
            'days'  = 'Dagen'
            'weeks' = 'Weken'
            'months'= 'Maanden'
            'years' = 'Jaren'
        };

        pp = {
            'pre'  = 'Voor'
            'post' = 'Na'
        };

    -%]
    [% param_prefix = "date_limit_"; name_prefix  = "kenmerken_" _ params_prefix- %]

    <input type="hidden" name="dialog_checkboxes" value="kenmerken_date_limit_[% type %]_active" /></span>
    [% param_key = param_prefix _ type _ '_active' -%]
    <span class="date-limitation-activate"><input type="checkbox" value="1" name="kenmerken_date_limit_[% type %]_active"[% (params.$param_key ? ' checked="checked"' : '') %]></span>
    <span class="date-limitation-label">[% label %]</span>

    [% param_key = param_prefix _ type _ '_num' -%]
    <span class="date-limitation-amount"><input type="text" name="kenmerken_date_limit_[% type %]_num" value="[% params.$param_key %]"></span>

    [% param_key = param_prefix _ type _ '_term' -%]
    <span class="date-limitation-amount-type">
        <select name="kenmerken_date_limit_[% type %]_term"></span>
            [% FOREACH t IN ['days', 'weeks', 'months', 'years' ] %]
            <option value="[% t %]" [% IF params.$param_key == t %]selected="selected"[% END %]>[% terms.$t %]</option>
            [% END %]
        </select>
    </span>

    [% param_key = param_prefix _ type _ '_during' -%]
    <span class="date-limitation-amount-during">
        <select name="kenmerken_date_limit_[% type %]_during">
        [% FOREACH t IN pp %]
        <option value="[% t.key %]" [% IF params.$param_key == t.key %]selected="selected"[% END %]>[% t.value %]</option>
        [% END %]
        </select>
    </span>

    <span class="date-limitation-amount-reference">
        [% param_key = param_prefix _ type _ '_reference' -%]
        <select name="kenmerken_date_limit_[% type %]_reference">
        <option value="current" [% IF params.$param_key == 'current' %]selected="selected"[% END %]>Huidige datum</option>
        [% WHILE (k = datelimit_kenmerken.next) %]
        [% IF k.id != params.id %]
        <option value="[% k.id %]" [% IF params.$param_key == k.id %]selected="selected"[% END %]>[% k.bibliotheek_kenmerken_id.naam %] [% IF k.label != '' %] ([% k.label %])[% END %]</option>
        [% END %]
        [% END %]
        [% datelimit_kenmerken.reset %]
        </select>
    </span>
</div>
