<tr
    class="ezra_table_row[% (!mresultaat ? '_template' : '') %]"
    id="ezra_table_resultaat_row_number[% (mresultaat ? '_' _ mresultaati : '') %]">
    <td class="td15 ver_center no-border drag">
        <input type="hidden" class="roworder" name="params.status.resultaten.mijlsort[% (mresultaat ? '.' _ mresultaati : '') %]" value="[% mresultaati %]" />
    </td>
    [% IF mresultaat.standaard_keuze %]
        <td style="width:2em">
            <div class="row-actions">
                <a href="#">
                    <i class="icon-font-awesome icon-star"></i>
                </a>
            </div>
        </td>
    [% ELSE %]
        <td></td>
    [% END %]
    <td class="td_14px tdvar">
        <span class="ezra_ztb_result_resultaat">[% mresultaat.resultaat | ucfirst | html_entity %]</span>
    </td>
    <td class="td_14px tdvar">
        <span class="ezra_ztb_result_label">[% mresultaat.label | html_entity %]</span>
    </td>
    <td>
        <div class="row-actions">
            <a
            href="[% formaction _ '/resultaat/bewerken' %]"
            class="edit ezra_table_row_edit row-action"
            title="Resultaat bewerken"
            rel="ezra_dialog_layout: large; callback: ezra_ztb_result_update">
                <i class="icon-font-awesome icon-pencil"></i>
            </a>
            <a href="#" class="ezra_table_row_del row-action">
                <i class="icon-font-awesome icon-remove"></i>
            </a>
        </div>
    </td>
</tr>


