<!-- WIDGET: betrokkene/bedrijf_search -->
<div class="wgt-betrokkene-bedrijf_search">
    <table class="table_zaakinformatie marginbottom">
        <tr>
            <td class="table_td_left_zaakinformatie">RSIN:</td>
            <td class="table_td_right_zaakinformatie"><input type="text"
                name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]rsin"
                class="input_medium"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">KvK-nummer:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]dossiernummer" class="input_medium"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Handelsnaam:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]handelsnaam" class="input_medium"><span class="validator"></span></td>

        </tr>
[% IF !wgt_config.small %]
<!--
        <tr>
            <td class="table_td_left_zaakinformatie">Rechtsvorm:</td>
            <td class="table_td_right_zaakinformatie">
                [% FOREACH rechtsvormnr IN ZCONSTANTS.kvk_rechtsvormen.keys.sort %]
                    [% rechtsvorm = ZCONSTANTS.kvk_rechtsvormen.$rechtsvormnr %]
                    <input type="radio" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]rechtsvorm" value="[% rechtsvormnr %]"> [% rechtsvorm %]<br>
                [% END %]
                <span class="validator"></span>
            </td>
        </tr>
-->
[% END %]
        <tr>
            <td class="table_td_left_zaakinformatie">Vestiging straat:</td>

            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]vestiging_straatnaam" class="input_medium"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Vestiging postcode:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]vestiging_postcode" class="input_mini"> 1234AZ<span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Vestiging huisnummer:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]vestiging_huisnummer" class="input_mini"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Vestiging toevoeging:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]vestiging_huisnummertoevoeging" class="input_mini"><span class="validator"></span></td>
        </tr>

[% IF !wgt_config.small %]
        <tr>
            <td class="table_td_left_zaakinformatie">Vestiging woonplaats:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]vestiging_woonplaats" class="input_medium"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Telefoonnummer:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]telefoonnummer" class="input_medium"><span class="validator"></span></td>
        </tr>
[% UNLESS nowrapper %]
        <tr>
            <td class="table_td_left_zaakinformatie">E-mailadres:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]email" class="input_medium"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Contactpersoon voorletters:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]contact_voorletters" class="input_mini"><span class="validator"></span></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Contactpersoon achternaam:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="[% (wgt_config.adv_search ? 'bedrijf-' : '') %]contact_geslachtsnaam" class="input_medium"><span class="validator"></span></td>
        </tr>
[% END %]
        <tr>
            <td class="table_td_left_zaakinformatie">Exact zoeken:</td>
            <td class="table_td_right_zaakinformatie"><input type="checkbox" name="np-EXACT"></td>
        </tr>
[% END %]
        [% IF wgt_config.post_button %]
        <tr class="table_zoeken_tr_bottom">
            <td class="table_zoeken_td100_2"></td>
            <td class="table_zoeken_tdvar"><input type="submit" value="Zoeken" class="button button-primary right"></td>

        </tr>
        [% END %]
    </table>
</div>
<!-- END WIDGET: betrokkene/bedrijf_search -->

