[% nowrapper = 1 -%]
<!DOCTYPE html>
<head>
    <title>Zaaksysteem - [% c.get_customer_info.naam %] - Eerste keer inloggen</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="/css/base.css" type="text/css" rel="stylesheet" />
    <link href="/css/buttons.css" type="text/css" rel="stylesheet" />
</head>
<html class="gemeente_[% c.config.gemeente_id | lower %]">
<body>
    <div class="block block-first-ad-login">
        <div class="block-header">Inloggen met [% c.user.login_entity.source_interface_id.name %]</div>

        <div class="blockcontent">
            [% IF first_login_intro.length -%]
            <p>[% first_login_intro | html_para_break %]</p>
            [% END -%]

            <form action="[% c.uri_for('/first_login') | html %]" method="post">
                <input type="hidden" name="confirmed" value="1" />

                <div class="grid-table">

                    <div class="row">
                        <div class="column large-4">Volledige naam</div>
                        <div class="column large-8">
                        [% IF c.user.displayname %]
                            [% c.user.displayname | html %]
                        [% ELSE %]
                            <input type="text" name="displayname" />
                        [% END %]
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Initialen</div>
                        <div class="column large-8">
                        [% IF c.user.initials %]
                            [% c.user.initials | html %]
                        [% ELSE %]
                            <input type="text" name="initials" />
                        [% END %]
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Voornaam</div>
                        <div class="column large-8">
                        [% IF c.user.givenname %]
                            [% c.user.givenname | html %]
                        [% ELSE %]
                            <input type="text" name="givenname" />
                        [% END %]
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Achternaam</div>
                        <div class="column large-8">
                        [% IF c.user.sn %]
                            [% c.user.sn | html %]
                        [% ELSE %]
                            <input type="text" name="sn" />
                        [% END %]
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Telefoonnummer</div>
                        <div class="column large-8">
                        [% IF c.user.telephonenumber %]
                            [% c.user.telephonenumber | html %]
                        [% ELSE %]
                            <input type="text" name="telephonenumber" />
                        [% END %]
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Emailadres</div>
                        <div class="column large-8">
                        [% IF c.user.mail %]
                            [% c.user.mail | html %]
                        [% ELSE %]
                            <input type="text" name="mail" />
                        [% END %]
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Gebruikersnaam</div>
                        <div class="column large-8">[% c.user.username | html %]</div>
                    </div>
                    <div class="row">
                        <div class="column large-4">Afdeling</div>
                        <div class="column large-8">[% INCLUDE widgets/general/ldap_ou_tree.tt input_name='preferred_group_id' entries=ou_entries %]</div>
                    </div>

                </div>

                <div class="form-actions clearfix">
                    <button type="submit" class="button button-primary right">Volgende</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
