.sysin-transactions{
	.crud-table-column-header {
		white-space: nowrap;
	}
	.crud-table-value-cell {
		min-width: 10%;
	}
	.crud-table-column-header-success {
		width: 22px;
	} 
	.crud-table-column-header-name {
		width: 50%;
	}
	.crud-table-column-header-transaction_id {
		width: 100px;
	}
	.detail-view-field-name-input {
		.detail-view-field-value,
		.detail-view-field-value-display,
		textarea{
			height:250px;
		}
	}
}

.transaction-item-status {
	display: inline-block;
	width: 16px;
	height: 14px;
	text-align: left;
	margin-left: 6px;
}

.transaction-item-direction i{
	font-size: 1em;
	margin-right: 3px;
	background: #000;
	color: #fff;
	padding: 1px;
	border-radius: 2px;
}

.transaction-record-link a{
	color:lighten(black,60%);
}

.icon-ok{
	color:green;
}

.record-item-status.icon-remove,
.transaction-item-status.icon-remove{
	color:red;
}

.transaction-record-list {
	.crud-table-item-cell{
		vertical-align: top;
	}
}

.sysin .crud-table-value-cell-mutations {
	white-space: normal;
}

.form-field-name-interface_id,
.form-field-name-freeform_filter{
	.form-field-input-wrapper{
		width:auto;
	}
}

.form-field-name-freeform_filter{
	float:right;
	margin-right:0 !important;
	input[type=text]{
		background: url("../images/icon-filter.png") no-repeat scroll 7px center #fff;
		padding-left:24px;
		width:250px;
	}
	.form-field-input{
		width:100%;
	}
}

.sysin-transactions .crud-filters,
.sysin-subscription .crud-filters{
	margin-bottom:0 !important;
}

[name=crud-filters-transactions]{
	.form-field-value,
	.form-field-input-wrapper{
		width:auto;
	}
}