<div class="widget-external-url-form">

  <vorm-fieldset
    data-fields="zsDashboardWidgetExternalUrlForm.getFields()"
    data-valid="zsDashboardWidgetExternalUrlForm.getValidity()"
    data-values="zsDashboardWidgetExternalUrlForm.getValues()"
    data-locals="zsDashboardWidgetExternalUrlForm.getLocals()"
    on-change="zsDashboardWidgetExternalUrlForm.handleChange($name, $value)"
  ></vorm-fieldset>
  
  <div class="form-actions">

    <button
      class="btn btn-flat" 
      type="submit" 
      ng-click="zsDashboardWidgetExternalUrlForm.isSaveable() && zsDashboardWidgetExternalUrlForm.handleFormSubmit()" 
      zs-disabled="!zsDashboardWidgetExternalUrlForm.isSaveable()"
    >
      Opslaan
    </button>
  </div>

</div>
