[% selected_zaaktype_id = c.req.params.remember_zaaktype_id || selected_zaaktype_id %]

    <tr>
        <td class="td-label">
            [% IF zaaktype_select_label %][% zaaktype_select_label %][% ELSE %]Zaaktype[% END %]
        </td>
        <td>
            <div class="ezra_zaaktype_keuze clearfix zoek_veld">
                <input type="hidden" name="zaaktype_id" class="ezra_selected_zaaktype_id" value="[% selected_zaaktype_id %]" />
                <input type="hidden" name="jstrigger" value="[% trigger %]" />
                
                <div class="search_wrap ezra_objectsearch_zaaktype">
                    <input
                        id="textbox-[% trigger %]"
                        type="text"
                        name="zaaktype_name"
                        class="ezra_zaaktype_keuze_textbox searchbox zaaktype_id_or_zaaktype_node_id"
                        autocomplete="off"
                        placeholder="Typ hier uw zoekterm"
                        value="[% c.req.params.remember_zaaktype_name %]"
                        />
                    <span class="icon icon-cancel-search" style="display:none;"></span>
                   
                </div>
                 <a href="/zaaktype/search" title="Kies zaaktype" class="ezra_select_zaaktype button button-secondary button-small" rel="betrokkene_type: natuurlijk_persoon, trigger: [% trigger %];"><i class="icon-font-awesome icon-search"></i></a>
            </div>
            [% UNLESS hide_remember_zaaktype %]
            <label class="zaaktype_onthouden"><input
                type="checkbox" name="remember_zaaktype" value="1"
                /> Zaaktype onthouden
            </label>
            [% END %]
        </td>
        <td>
            [% PROCESS widgets/general/tooltip.tt
                message = 'Selecteer het zaaktype door zoektermen te typen in het veld, bijv. "park verg" om <i>Parkeervergunning</i> te vinden.'
            %]
            [% PROCESS widgets/general/validator.tt %]
        </td>
    </tr>
